*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main{
  height: calc(100vh - 100px);
  position: initial;
}

footer{
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
}

ul{
  list-style: none;
}

.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.margin-bootm10{
  margin-bottom: 10px;
}

.margin-bootm25{
  margin-bottom: 25px;
}

.margin-bootm50{
  margin-bottom: 30px;
}

.padding15-0{
  padding: 15px 15px 0 15px;
}

.position-relative{
  position: relative;
  top: 0;
  left: 0;
}

.pointer{
  cursor: pointer;
}

.pointer-text{
  cursor:text;
}

/* HOVER UTILITIES */

.head-button-upgrade:hover{
  transform: scale(1.2)
}

.left-column-nav ul li:hover,
.left-column-footer span img:hover{
  filter:brightness(50%);
}

.left-column-footer p img:hover{
  filter:brightness(100%);
}

.left-column-playlist ul li:hover,
.left-column-footer p:hover,
.left-column-footer i:hover,
.main-center-page-nav li:hover{
  color: white;
}



.active-left-nav{
  border-left: 2px solid greenyellow;
}

.active-maint-nav{
  border-bottom: 2px solid greenyellow;
  }

.main-center-page-music-selection-item-overlay:hover{
  display: flex;
  opacity: 1;
}


/* HOVER UTILITIES */
#radius50{
  border-radius: 50%;
}

/* SISTEMARE!<------------------------------------------ */








/* DEBUG UTILITIES */

.debug{
  background-color: rgba(255, 0, 0, 0.2);
}


.bordilicus{
  border: 1px solid black;
}