*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: calc(100vh - 100px);
  position: initial;
}

footer{
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style: none;
}

.d-flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.margin-bootm25{
  margin-bottom: 25px;
}























/* DEBUG UTILITIES */

.debug{
  background-color: rgba(255, 0, 0, 0.2);
}


.bordilicus{
  border: 1px solid black;
}